
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
    </head>
<div class = "container">
    <table class = "table table-bordered table-striped table-hover table-sm">
       <thead>
        <tr class = "bg-info text-black"><th>ID</th><th>Name</th><th>Date Of Joining</th><th>Salary</th><th>Gender</th><th>Email Id</th>  <th colspan = 2>Actions</th></tr>
            <!-- <th>Mobile</th><th>Country</th><th>Experience</th> <th>Actions</th></tr> -->
        </thead>
        <tbody>
        <tr *ngFor = "let employee of employees">
            <td>{{employee.empId}}</td>
            <td>{{employee.empName | gender : employee.gender | uppercase }}</td>
            <td>{{employee.doj | date : 'dd-MMM-yyyy hh:mm:ss'}}</td>
            <td>{{employee.salary | currency: 'INR'}}</td>
            <td>{{employee.gender | uppercase}}</td>
            <!-- <td>{{employee.phone | mobile :employee.country}}</td>
            <td>{{employee.country}}</td>
            <td>{{employee.doj | exp}}</td>  -->
            <td>{{employee.email}}</td>
            <td><button (click) = "deleteEmp(employee)" class="glypicon glyphicon-trash" ></button></td>
            <td><button class="glypicon glyphicon-pencil"></button></td>
        </tr>
        </tbody>
    </table>
    </div>
