<!DOCTYPE html>
<html>
<head>
<style>
   body {background-color:green;}
   h2 {color:white;}
   
</style>
</head>
<body>
<h2 style = "text-align:center">    BONSAI PLANTS  </h2>
</body>
<div class = "row offset-md-1" style="margin-top: 2px">
<div class = "col-md-3" *ngFor= "let product of products">
   <div class = "card" style= "width: 18rem;">
   <img class = "card-img-top" [src] = "product.imagePath" alt= "Card image cap">
   <div class = "card-body">
   <p class = "card-text">{{product.description}}</p>
   </div>
   <div class = "row">
<div class = "col">
    <div>{{product.price | currency :'INR'}}</div>
</div>
<div class = "col">

<div><button class = "btn btn-primary">Add to cart</button></div>
</div>
</div>
</div>
</div>
</div>
</html>
