Enter Emp Id : <input type = "text" placeholder = "ID"[(ngModel)] = "employee.empId"><br/>
Enter Emp Name : <input type = "text" placeholder = "Name"[(ngModel)] = "employee.empName"><br/>
Enter DOJ : <input type = "date" placeholder = "DOB"[(ngModel)] = "employee.doj"><br/>
Enter Salary : <input type = "text" placeholder = "Salary"[(ngModel)] = "employee.salary"><br/>
Enter Gender : <input type = "text" placeholder = "Gender"[(ngModel)] = "employee.gender"><br/>
Enter Email Id:<input type = "text" placeholder = "Email"[(ngModel)] = "employee.email"><br/>
Enter Password:<input type ="text" placeholder = "PASSWORD"[(ngModel)] = "employee.password"><br/>
<!-- <<button (click) = "Register()">Register</button> -->
<input type = "submit" value = "REGISTER" (click) = "registerEmp()">


